<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <form name="create-post" action="/posts" method="post">
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Title" name="title" required data-validation-required-message="Please enter a title.">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Choose a category</label>
            <input type="radio" name="catagory" value="fiction">Fiction
            <input type="radio" name="catagory" value="non-fiction">Non-Fiction
            <input type="radio" name="catagory" value="fiction">Screenplay
            <input type="radio" name="catagory" value="fiction">Poetry
            <br>
             <label>Choose a genre</label>
            <select name="genre">
              <option value="action">Action</option>
              <option value="crime">Crime</option>
              <option value="horror">Horror</option>
            </select>
            <br>
             <label>Select Language</label>
            <select name="language">
              <option value="english">English</option>
              <option value="chinese">Chinese</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group col-xs-12 text-center">
              <button type="submit" class="btn btn-default">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
