<link href="/css/HomeStyle.css" rel="stylesheet">
<div id="header" class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<h1> Featured Book of the Week </h1>
				
					<h2>The Grapes of Wrath</h2>
					<p>The Grapes of Wrath is an American realist novel written by John Steinbeck and published in 1939. The book won the National Book Award and Pulitzer Prize for fiction, and it was cited prominently when Steinbeck was awarded the Nobel Prize in 1962</p>
					<button class="btn btn-lg btn-success">Read Now</button>
					<button class="btn btn-lg btn-primary">Favorite</button>
				</div>

				<div class="col-lg-6 col-md-6">
					<img src="/img/Books/TGW.jpg"></img>
				</div>

			</div>
		</div>
</div>


<div id="Popular" class="Popular">
	<div class="container">
		<h2>Popular Series</h2>
		<div class="row"> 
			<div class="col-lg-3 col-md-3">
				<a href="#"><img src="/img/Books/dutch.jpg"></a>
				<h4>How To be the Perfect Dutch<h4>
				<p>A story of a man in search of truth told with the simple clarity and beauty of Bunyan’s prose make this the ultimate English classic.<p>
			</div>
			<div class="col-lg-3 col-md-3">
				<a href="#"><img src="/img/Books/dutch.jpg"></a>
				<h4>The 10X Rule<h4>
				<p>A story of a man in search of truth told with the simple clarity and beauty of Bunyan’s prose make this the ultimate English classic.<p>
			</div>
			<div class="col-lg-3 col-md-3">
				<a href="#"><img src="/img/Books/dutch.jpg"></a>
				<h4>The 10X Rule<h4>
				<p>A story of a man in search of truth told with the simple clarity and beauty of Bunyan’s prose make this the ultimate English classic.<p>
			</div>
			<div class="col-lg-3 col-md-3">
				<a href="#"><img src="/img/Books/dutch.jpg"></a>
				<h4>The 10X Rule<h4>
				<p>A story of a man in search of truth told with the simple clarity and beauty of Bunyan’s prose make this the ultimate English classic.<p>
			</div>
		</div>

</div>

<div id="Popular" class="Popular">
	<div class="container">
		<h2>New Novels</h2>
		<div class="row"> 
			<div class="col-lg-3 col-md-3">
				<a href="#"><img src="/img/Books/happen.png"></a>
				<h4>Making Things Happen<h4>
				<p>A story of a man in search of truth told with the simple clarity and beauty of Bunyan’s prose make this the ultimate English classic.<p>
			</div>
			<div class="col-lg-3 col-md-3">
				<a href="#"><img src="/img/Books/happen.png"></a>
				<h4>The 10X Rule<h4>
				<p>A story of a man in search of truth told with the simple clarity and beauty of Bunyan’s prose make this the ultimate English classic.<p>
			</div>
			<div class="col-lg-3 col-md-3">
				<a href="#"><img src="/img/Books/happen.png"></a>
				<h4>Making Things Happen<h4>
				<p>A story of a man in search of truth told with the simple clarity and beauty of Bunyan’s prose make this the ultimate English classic.<p>
			</div>
			<div class="col-lg-3 col-md-3">
				<a href="#"><img src="/img/Books/happen.png"></a>
				<h4>The 10X Rule<h4>
				<p>A story of a man in search of truth told with the simple clarity and beauty of Bunyan’s prose make this the ultimate English classic.<p>
			</div>
		</div>

	</div>
</div>







