<div id="header" class="header">
		<div class="container">
		<link href="/css/HomeStyle.css" rel="stylesheet">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<h1> Featured Book of the Week </h1>
				
					<h2>The Grapes of Wrath</h2>
					<p>The Grapes of Wrath is an American realist novel written by John Steinbeck and published in 1939. The book won the National Book Award and Pulitzer Prize for fiction, and it was cited prominently when Steinbeck was awarded the Nobel Prize in 1962</p>
					<button class="btn btn-lg btn-success">Read Now</button>
					<button class="btn btn-lg btn-primary">Favorite</button>
				</div>

				<div class="col-lg-6 col-md-6">
					<img src="/img/Books/TGW.jpg"
				</div>

			</div>
		</div>
</div>





