.section
{
	background-color: #4ABDAC;
	height: 300px;
}

.box
{
	margin: auto; 
	width: 50%;
	height: 200px;
	top: 50%;
	left: 50%;
	background-color: orange; 
}

.header h1
{
	font-size: 40px;
	font-weight: 700;
	color: black;

}

.header
{
	text-align: center;
	background: #f0b866;
	color: black;
	font-size: 14px;

}

.what {
	color: black;
	font-size: 14px;
}

.why
{
	color: black;
	font-size: 14px;
}

.who
{
	color: black;
	font-size: 14px;
}

.group
{
	text-align: center;
	color:black;
	font-size: 14px;
	font-family: "Lucida Console", Monaco, monospace;
	padding-bottom: 25px;
}
.group img
{
	display: block;
    margin: auto;
    width: 50%;
    height: 150px;
    border-radius:100%;
}