body
{
	margin: 0;
	padding: 10px;
	background: linear-gradient(gray, lightblue); 
	background: -webkit-linear-gradient(gray, lightblue);
	background: -moz-linear-gradient(gray, lightblue);
	background: -o-linear-gradient(gray, lightblue);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	font-family: sans-serif; 
}

#book-style
{
	/*color: #FFC36D;*/
	color: black;
}

#chapter-style
{
	color: lightblue;
}