body
{
	margin: 0;
	padding: 0;
	background: url(/img/headerBg2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	font-family: sans-serif; 
}


#draft
{
	padding-top: 10px;
}

