.section
{
	background-color: #4ABDAC;
	height: 300px;
}

.box
{
	margin: auto; 
	width: 50%;
	height: 200px;
	top: 50%;
	left: 50%;
	background-color: orange; 


}

.header h1
{
	font-size: 40px;
	font-weight: 700;
	color: #79635e;
}


.header
{
	height: 400px;
	width: 100%;
	padding: 30px 0 30px;
	background-color: #4ABDAC;
	background-image: url(../img/headerBg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
}

.header img 
{
	display: block;
    margin: auto;
    width: 40%;
}

.header button
{
	margin-top: 20px;
}
.header .btn 
{
	border-radius: 30;
	margin: 20px 10px;
}

.Popular
{
	padding: 80px 0 80px;
	text-align: center;
}

.Popular h2
{	
	font-size: 40px; 
	font-weight: 700;
	color: #79635e;
	margin: 20px 0px 30px;
}
.Popular h4
{
	color: black;
	margin: 20px 0px 20px;
}

.Popular p
{
	color: black;
	font-size: 14px;
	padding-bottom: 40px;
}

.Popular img 
{
	display: block;
    margin: auto;
    width: 40%;
}

