.section
{
	background-color: #4ABDAC;
	height: 300px;
}

.box
{
	margin: auto; 
	width: 50%;
	height: 200px;
	top: 50%;
	left: 50%;
	background-color: orange; 


}

.header h1
{
	font-size: 40px;
	font-weight: 700;
	/*color: #79635e;*/
	color: #FFC36D;
}

.header p
{
	font-weight: bold;
}
.header
{
	height: 400px;
	width: 100%;
	/*background-color: #4ABDAC;*/
	/*background-color: #353839;*/ 
	background-image: url(../img/stars.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

.header img 
{
	display: block;
    margin: auto;
    width: 40%;
}

.header button
{
	margin-top: 20px;
}
.header .btn 
{
	border-radius: 30;
	margin: 20px 10px;
}

.Popular
{
	padding: 40px 0 0px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;

}

.Popular h2
{	
	/*font-size: 40px;
	color: #79635e;
	margin: 20px 0px 30px;
	background: #e68a00;*/
	font-size: 40px;
	font-weight: 700;
	/*color: #79635e;*/
	color: #FFC36D;
	padding-bottom: 40px;

}

.Popular h4
{
	color: white;
	margin: 20px 0px 20px;
	font-weight: bold;
}

.Popular p
{
	color: white;
	font-size: 14px;
	padding-bottom: 40px;
}

#Book-List
{
	/*background: #cccccc;*/
	background: rgba(0,0,0,.4); 
}

.Popular img 
{
	display: block;
    margin: auto;
    width: 40%;
}

#NewNovel
{
	background: transparent; 
}

#headBg
{
	/*background-image: url(../img/stars.jpg);*/
	padding: 40px 10px 30px 40px;

}


