<div id="sidebar" class="sidebar">
<link href="/css/profileStyle.css" rel="stylesheet">
  <div class="container-fluid">
    <div class="row profile">
      <div class="col-md-3">
        <div class="profile-sidebar">
          <div class="profile-user-pic"> 
            <img src="/img/profile2.png" alt="" class="imgr-responsive img-circle">
          </div>
          <div class="profile-user-title">
            <div class="profile-user-name">
            <h3>{{user.username}}<h3>
            </div>
            <div class="profile-user-about me">
              <p>Hi, I love to write non-fiction. I can help you out with your stories. I am currently working as a freelance marketing writer and I am always interested in a challenge. Reach out to me to connect!<p>
            </div>
            <div class="profile-user-buttons">
              <a href="http://localhost:8000/drafts"><button class="btn btn-success btn-lg">Drafts</button></a>
              <a href="http://localhost:8000/books"><button class="btn btn-success btn-lg">My Library</button></a>
            </div>

          </div>
        </div> 
       </div>

       <div class="col-md-3">
       <h1> Hi {{user.firstName}}!</h1>
       </div>


    </div>
  </div>
</div>
