<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="create-post">
          <a class="btn btn-default" href="/posts/{{post.user.username}}/{{post.slug}}/edit">Edit</a> 
      </div>
      <p>{{post.body}}</p>
      <ul class="pager">
          <li class="next">
            <a href="/posts">All Books &larr;</a>
          </li>
      </ul>
    </div>
  </div>
</div>
