<link href="/css/AboutUsStyle.css" rel="stylesheet">
<div id="header" class="header">
	<div class ="container">
		<div class="row">
			<h1> Welcome To PenBook!</h1>
			<p1> 
				This application offers a platform for writing, publishing and reading books. Create a connection between authors and readers.
			</p1>
		</div>
	</div>
</div>

<div id="why" class="why">
	<div class="container">
		<div class="row">
			<h2>Why PenBook?</h2>
			<p2>
				According to Joseph Epstein, 81% of Americans want to write a book. However, the odds to publish a book is smaller. Having a platform which bring writers and readers closer together will surely increase the odds. Having the exact audience to your disposal will ensure the success of the book.
			</p2>
		</div>
	</div>
</div>

<div id="who" class="who">
	<div class="container">
		<div class="row">
			<h3>Who are we?</h3>
			<p3>
				The developers behind PenBook are part of CunyTech Prep (CTP) and created this application as our group project. Our hope give writers a platform to have constant feedback from their readers, gain more readers, and be promoted by the community.
			</p3>
		</div>
	</div>
</div>

<div id="group" class="group">
	<div class="container">
		<h4>PenBook Developers</h4>
		<div class="row">
		<div class="col-lg-3 col-md-3">
				<a href="#"><img src="/img/AboutUs/Elie.jpg"></a>
				<h5>Elie Elisee Paul</h5>
				<p></p>
			</div>
			<div class="col-lg-3 col-md-3">
				<a href="#"><img src="/img/AboutUs/Wei.jpg"></a>
				<h5>Wei Chen</h5>
				<p></p>
			</div>
			<div class="col-lg-3 col-md-3">
				<a href="#"><img src="/img/AboutUs/Amena.jpg"></a>
				<h5>Amena Khan</h5>
				<p></p>
			</div>
			<div class="col-lg-3 col-md-3">
				<a href="#"><img src="/img/AboutUs/Ryan.jpg"></a>
				<h5>Ryan Ho</h5>
				<p></p>
			</div>
		</div>
	</div>
</div>

<div id="footer" class="footer">
    <div class="row"> 
      <div class="col-lg-4 col-md-4">
        <h4>Contact Us</h4>
        <p>customer-services@penbook.com</p>
        <p>1-800-435-8236</p>
        <p>Penbook.com</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h4>About</h4>
        <p>About Us</p>
        <p>Privacy</p>
        <p>Term & Conditions</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <a href="#">
                <span class="fa-stack fa-3x" id="media">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>

              <a href="#">
                <span class="fa-stack fa-3x" id="media">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
                        
              <a href="#">
                <span class="fa-stack fa-3x" id="media">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>

      </div>
    </div>
  </div>